<div class="top-bar">
  <div class="top-bar-left">
    <!--data-responsive-menu="accordion"-->
    <ul class="menu">
      <li class="menu-text"><a class="button" ui-sref="navbar.home">Bars in?</a></li>
      <li><a href="#">Dallas</a></li>
      <li><a href="#">New York</a></li>
      <li><a href="#">Los Angeles</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <div ng-switch on="loggedOn">
      <div ng-switch-when="true">
        <ul class="menu">
          <li class="menu-text"><a ui-sref="navbar.signin" class="button">Signout</a></li>
        </ul>
      </div>
        
      <div ng-switch-when="false">
        <ul class="menu">
          <li class="menu-text"><a ui-sref="navbar.signin" class="button">Signin</a></li>
          <li><a ui-sref="navbar.signup">Signup</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ui-view></div>