<div class="medium-6 large-4 medium-centered large-centered columns login-box">
    <div class="callout secondary">
      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Email
              <input type="text" placeholder="bars@bars.com">
            </label>
          </div>
          <div class="small-12 columns">
            <label> Password
              <input type="password" placeholder="password123">
            </label>
          </div>
          <div class="small-12 columns">
            <label> Confirm Password
              <input type="password" placeholder="password123">
            </label>
            <button ui-sref="navbar.home" type="submit" class="button">Signup</button>
          </div>
          <div class="small-12 large-centered columns">
            <a ui-sref="navbar.signin">Already have an account? Login</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>