body {
  text-align: center;
  background: #F8F8F8;
}

.title {
  color: black;
  font-size: 1.5em;
}

.kevin-spacey {
  padding: 20px 0px;
}

.login-box {
  padding: 40px 20px 0 20px;
}

.bar-image {
  height: 180px;
  width: 250px; 
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 25px;
}

.lead {
  margin-top: 0px;
  margin-bottom: 0px;
}

.spinner {
  padding: 75px 0px 75px 0px;
}

.bruh {
  max-width: 1000px;
  padding: 25px;
}
